@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("/movie-search.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #05090F;
  /* Other styles */
}
